<a href="https://colab.research.google.com/github/almaprateek/stock_screening/blob/main/UP_20%2C_SMA_and_BB_SCREENING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# to upgrade libraries

# !pip install --upgrade pandas
# !pip install numpy --upgrade --ignore-installed
# !pip install --upgrade pandas-datareader
# !pip install numpy --upgrade

In [ ]:
# to Upgrade python

# !add-apt-repository ppa:deadsnakes/ppa
# !apt-get update
# !apt-get install python3.5
# !apt-get install python3.5-dev

# !wget https://bootstrap.pypa.io/get-pip.py && python3.5 get-pip.py
  
# import sys

# sys.path[2] = '/usr/lib/python35.zip'
# sys.path[3] = '/usr/lib/python3.5'
# sys.path[4] = '/usr/lib/python3.5/lib-dynload'
# sys.path[5] = '/usr/local/lib/python3.5/dist-packages'
# sys.path[7] ='/usr/local/lib/python3.5/dist-packages/IPython/extensions'

In [ ]:
# Install yfinance and matplotlib package if not installed:
!pip install yfinance
!pip install matplotlib

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.67)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.7.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.19.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.3.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [ ]:
# Import yfinance and matplotlib
import yfinance as yf  
import matplotlib.pyplot as plt

In [ ]:
from datetime import date
from datetime import timedelta

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# comp_csv_file = pd.read_csv('/content/drive/MyDrive/STOCKS/Super company lists/S250_10_25_2021.csv')

In [ ]:
comp_csv_file = pd.read_csv('/content/drive/MyDrive/STOCKS/Super company lists/S40 AND S40 NXT JAN.csv')

In [ ]:
comp_csv_file

          S40     S40 NEXT
0          TCS         ABB
1         INFY       PIIND
2   HINDUNILVR     PAGEIND
3        WIPRO      ASTRAL
4      HCLTECH         UBL
..         ...         ...
57         NaN    SUMICHEM
58         NaN    SKFINDIA
59         NaN      SANOFI
60         NaN    GILLETTE
61         NaN  CARBORUNIV

[62 rows x 2 columns]

In [ ]:
# if applying for s40 then first drop null values
# comp_csv_file.dropna(inplace = True)
# copm_list = comp_csv_file["S40 "].tolist()

In [ ]:
copm_list = comp_csv_file["S40 NEXT"].tolist()

In [ ]:
ticker = []
for company in copm_list:
  ticker.append(company + '.NS')

In [ ]:
ticker

['ABB.NS',
 'PIIND.NS',
 'PAGEIND.NS',
 'ASTRAL.NS',
 'UBL.NS',
 'HAL.NS',
 'ACC.NS',
 'COLPAL.NS',
 'VOLTAS.NS',
 'ABBOTINDIA.NS',
 'NMDC.NS',
 'CONCOR.NS',
 'HONAUT.NS',
 'PERSISTENT.NS',
 'POLYCAB.NS',
 'IGL.NS',
 'COFORGE.NS',
 'TATAELXSI.NS',
 'OFSS.NS',
 'MFSL.NS',
 'ZEEL.NS',
 'KANSAINER.NS',
 'RELAXO.NS',
 'MRF.NS',
 'GLAXO.NS',
 'LALPATHLAB.NS',
 '3MINDIA.NS',
 'SUPREMEIND.NS',
 'SCHAEFFLER.NS',
 'ATUL.NS',
 'TANLA.NS',
 'IPCALAB.NS',
 'CLEAN.NS',
 'CUMMINSIND.NS',
 'ESCORTS.NS',
 'GICRE.NS',
 'EMAMILTD.NS',
 'PFIZER.NS',
 'IEX.NS',
 'WHIRLPOOL.NS',
 'NIACL.NS',
 'RAJESHEXPO.NS',
 'COROMANDEL.NS',
 'CRISIL.NS',
 'BAYERCROP.NS',
 'NAM_INDIA.NS',
 'THERMAX.NS',
 'LINDEINDIA.NS',
 'NAVINFLUOR.NS',
 'GRINDWELL.NS',
 'VINATIORGA.NS',
 'BCG.NS',
 'INDIAMART.NS',
 'KAJARIACER.NS',
 'SUNTV.NS',
 'NATIONALUM.NS',
 'AJANTPHARM.NS',
 'SUMICHEM.NS',
 'SKFINDIA.NS',
 'SANOFI.NS',
 'GILLETTE.NS',
 'CARBORUNIV.NS']

#### the code is here

In [ ]:
today = date.today()
back_year = today - timedelta(days = 367)

In [ ]:
def up20_wizard (data, number_of_rows) :
  try:
    i = number_of_rows - 1
    result_index = 0
    while i > 1 :
      diff = data.Close[i] - data.Open[i]
      if diff > 0 :
        final = data.High[i]
        initial = data.Low[i]
        j = i - 1
        diff2 = data.Close[j] - data.Open[j]
        if diff2 > 0 :
          initial = data.Low[j]
          k = j - 1
          diff3 = data.Close[k] - data.Open[k]
          if diff3 > 0 :
            initial = data.Low[k]
            per = ((final - initial) * 100) / initial
            if per >= 18 :
              result_index = k
              break

            else:
              i = i - 1

          else: 
            per = ((final - initial) * 100) / initial
            if per >= 18 :
              result_index = j
              break 

            else:
              i = i - 1  

        else:
          per = ((final - initial) * 100) / initial
          if per >= 18 :
            result_index = i
            break 

          else:
            i = i - 1 

      else:
        i = i - 1

    if i < 2 :
      return None , None

    else :
      return data.Low[result_index] , data.index[result_index]

  except:
    return None , None

In [ ]:
def get_sma(prices, rate):
  '''this function gives us the moving average'''
  return prices.rolling(rate).mean()

In [ ]:
def get_bollinger_bands(prices, rate=20):
  '''this function gives us upper and lower bollinger band levels'''
  sma = get_sma(prices, rate)
  std = prices.rolling(rate).std()
  bollinger_up = sma + std * 2 # Calculate top band
  bollinger_down = sma - std * 2 # Calculate bottom band
  return bollinger_up, bollinger_down

In [ ]:
slot_len = int(len(ticker)/4)

new_ticker = []
a = 0
b = slot_len
for i in range(4) :
  dummy_list = ticker[a:b]
  new_ticker.append(dummy_list)
  a = b
  b = b + slot_len

if len(ticker) % 4 != 0 :
  end_slot_len = len(ticker) % 4
  dummy_list = ticker[-end_slot_len:]
  new_ticker.append(dummy_list)

In [ ]:
len(new_ticker)

5

In [ ]:
new_ticker

[['ABB.NS',
  'PIIND.NS',
  'PAGEIND.NS',
  'ASTRAL.NS',
  'UBL.NS',
  'HAL.NS',
  'ACC.NS',
  'COLPAL.NS',
  'VOLTAS.NS',
  'ABBOTINDIA.NS',
  'NMDC.NS',
  'CONCOR.NS',
  'HONAUT.NS',
  'PERSISTENT.NS',
  'POLYCAB.NS'],
 ['IGL.NS',
  'COFORGE.NS',
  'TATAELXSI.NS',
  'OFSS.NS',
  'MFSL.NS',
  'ZEEL.NS',
  'KANSAINER.NS',
  'RELAXO.NS',
  'MRF.NS',
  'GLAXO.NS',
  'LALPATHLAB.NS',
  '3MINDIA.NS',
  'SUPREMEIND.NS',
  'SCHAEFFLER.NS',
  'ATUL.NS'],
 ['TANLA.NS',
  'IPCALAB.NS',
  'CLEAN.NS',
  'CUMMINSIND.NS',
  'ESCORTS.NS',
  'GICRE.NS',
  'EMAMILTD.NS',
  'PFIZER.NS',
  'IEX.NS',
  'WHIRLPOOL.NS',
  'NIACL.NS',
  'RAJESHEXPO.NS',
  'COROMANDEL.NS',
  'CRISIL.NS',
  'BAYERCROP.NS'],
 ['NAM_INDIA.NS',
  'THERMAX.NS',
  'LINDEINDIA.NS',
  'NAVINFLUOR.NS',
  'GRINDWELL.NS',
  'VINATIORGA.NS',
  'BCG.NS',
  'INDIAMART.NS',
  'KAJARIACER.NS',
  'SUNTV.NS',
  'NATIONALUM.NS',
  'AJANTPHARM.NS',
  'SUMICHEM.NS',
  'SKFINDIA.NS',
  'SANOFI.NS'],
 ['GILLETTE.NS', 'CARBORUNIV.NS']]

In [ ]:

s_level = []
s_date = []
s_comp = []
s_ltp = []
sma_comp =[]
bb_comp = []
for i in range(len(new_ticker)) :
  tic = new_ticker[i]
  try:
    for company in tic :

      # Code for up20 starts here
      data = yf.download(company,back_year,today)
      index = data.index
      number_of_rows = len(index)
      level , dt = up20_wizard (data, number_of_rows)
      if level == None :
        pass

      else:
        s_level.append(level)
        s_date.append(dt)
        s_comp.append(company)
        s_ltp.append(data.Close[number_of_rows - 1])
        # if level >= (data.Close[number_of_rows - 1]) :
        #   print(f'{company}  {level}')


      # code for SMA starts here
      closing_prices = data['Close'] # Use only closing prices
      sma20 = get_sma(closing_prices, 20) # Get 20 day SMA
      sma50 = get_sma(closing_prices, 50) # Get 50 day SMA
      sma100 = get_sma(closing_prices, 100) # Get 100 day SMA
      # CHECKING WETHER STOCK IS IN LEVEL OF SMA STRATAGEY
      if sma20.iloc[-1] < sma50.iloc[-1]  and  sma20.iloc[-1] < sma100.iloc[-1] and  sma50.iloc[-1] < sma100.iloc[-1] and data['Close'].iloc[-1] < sma20.iloc[-1]:
        sma_comp.append(company)
      
      # code for BB starts here
      bollinger_up, bollinger_down = get_bollinger_bands(closing_prices)
      if bollinger_down.iloc[-2] > data['Close'].iloc[-2] and data['Close'].iloc[-1] > data['Open'].iloc[-1] and bollinger_down.iloc[-1] < data['Close'].iloc[-1] and  data['Close'].iloc[-2] < data['Open'].iloc[-2]  :
        bb_comp.append(company)
      
      print(company)
       


  except:
    pass

[*********************100%***********************]  1 of 1 completed
ABB.NS
[*********************100%***********************]  1 of 1 completed
PIIND.NS
[*********************100%***********************]  1 of 1 completed
PAGEIND.NS
[*********************100%***********************]  1 of 1 completed
ASTRAL.NS
[*********************100%***********************]  1 of 1 completed
UBL.NS
[*********************100%***********************]  1 of 1 completed
HAL.NS
[*********************100%***********************]  1 of 1 completed
ACC.NS
[*********************100%***********************]  1 of 1 completed
COLPAL.NS
[*********************100%***********************]  1 of 1 completed
VOLTAS.NS
[*********************100%***********************]  1 of 1 completed
ABBOTINDIA.NS
[*********************100%***********************]  1 of 1 completed
NMDC.NS
[*********************100%***********************]  1 of 1 completed
CONCOR.NS
[*********************100%***********************]  1 of 1 completed
HONAUT.NS
[*********************100%***********************]  1 of 1 completed
PERSISTENT.NS
[*********************100%***********************]  1 of 1 completed
POLYCAB.NS
[*********************100%***********************]  1 of 1 completed
IGL.NS
[*********************100%***********************]  1 of 1 completed
COFORGE.NS
[*********************100%***********************]  1 of 1 completed
TATAELXSI.NS
[*********************100%***********************]  1 of 1 completed
OFSS.NS
[*********************100%***********************]  1 of 1 completed
MFSL.NS
[*********************100%***********************]  1 of 1 completed
ZEEL.NS
[*********************100%***********************]  1 of 1 completed
KANSAINER.NS
[*********************100%***********************]  1 of 1 completed
RELAXO.NS
[*********************100%***********************]  1 of 1 completed
MRF.NS
[*********************100%***********************]  1 of 1 completed
GLAXO.NS
[*********************100%***********************]  1 of 1 completed
LALPATHLAB.NS
[*********************100%***********************]  1 of 1 completed
3MINDIA.NS
[*********************100%***********************]  1 of 1 completed
SUPREMEIND.NS
[*********************100%***********************]  1 of 1 completed
SCHAEFFLER.NS
[*********************100%***********************]  1 of 1 completed
ATUL.NS
[*********************100%***********************]  1 of 1 completed
TANLA.NS
[*********************100%***********************]  1 of 1 completed
IPCALAB.NS
[*********************100%***********************]  1 of 1 completed
CLEAN.NS
[*********************100%***********************]  1 of 1 completed
CUMMINSIND.NS
[*********************100%***********************]  1 of 1 completed
ESCORTS.NS
[*********************100%***********************]  1 of 1 completed
GICRE.NS
[*********************100%***********************]  1 of 1 completed
EMAMILTD.NS
[*********************100%***********************]  1 of 1 completed
PFIZER.NS
[*********************100%***********************]  1 of 1 completed
IEX.NS
[*********************100%***********************]  1 of 1 completed
WHIRLPOOL.NS
[*********************100%***********************]  1 of 1 completed
NIACL.NS
[*********************100%***********************]  1 of 1 completed
RAJESHEXPO.NS
[*********************100%***********************]  1 of 1 completed
COROMANDEL.NS
[*********************100%***********************]  1 of 1 completed
CRISIL.NS
[*********************100%***********************]  1 of 1 completed
BAYERCROP.NS
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NAM_INDIA.NS: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
GILLETTE.NS
[*********************100%***********************]  1 of 1 completed
CARBORUNIV.NS

In [ ]:
print(s_level)
print(s_date)
print(s_comp)
print(s_ltp)

[1446.0, 1170.0, 19703.19921875, 167.5, 555.0499877929688, 1051.050048828125, 2835.300048828125, 3320.0, 3105.449951171875, 281.25, 2050.0, 5534.25, 647.0, 2150.0, 654.25, 1185.0, 116.5999984741211, 256.0, 137.64999389648438, 487.0, 2653.0, 509.45001220703125]
[Timestamp('2021-04-15 00:00:00'), Timestamp('2021-08-25 00:00:00'), Timestamp('2021-09-30 00:00:00'), Timestamp('2021-05-06 00:00:00'), Timestamp('2021-05-24 00:00:00'), Timestamp('2021-01-05 00:00:00'), Timestamp('2021-05-05 00:00:00'), Timestamp('2021-04-30 00:00:00'), Timestamp('2021-03-30 00:00:00'), Timestamp('2021-09-22 00:00:00'), Timestamp('2021-11-30 00:00:00'), Timestamp('2021-07-22 00:00:00'), Timestamp('2021-01-05 00:00:00'), Timestamp('2021-12-02 00:00:00'), Timestamp('2021-02-01 00:00:00'), Timestamp('2021-02-01 00:00:00'), Timestamp('2021-11-23 00:00:00'), Timestamp('2021-12-08 00:00:00'), Timestamp('2021-08-23 00:00:00'), Timestamp('2021-04-08 00:00:00'), Timestamp('2021-07-15 00:00:00'), Timestamp('2021-04-30 00:00:00')]
['ASTRAL.NS', 'HAL.NS', 'ABBOTINDIA.NS', 'NMDC.NS', 'CONCOR.NS', 'POLYCAB.NS', 'COFORGE.NS', 'TATAELXSI.NS', 'OFSS.NS', 'ZEEL.NS', 'SUPREMEIND.NS', 'SCHAEFFLER.NS', 'TANLA.NS', 'CLEAN.NS', 'CUMMINSIND.NS', 'ESCORTS.NS', 'GICRE.NS', 'IEX.NS', 'NIACL.NS', 'RAJESHEXPO.NS', 'CRISIL.NS', 'CARBORUNIV.NS']
[2235.89990234375, 1237.3499755859375, 19050.650390625, 132.6999969482422, 611.7999877929688, 2396.35009765625, 5655.7001953125, 5529.10009765625, 3961.800048828125, 321.5, 2210.10009765625, 8596.75, 1804.800048828125, 2474.699951171875, 939.4000244140625, 1879.5, 135.8000030517578, 255.1999969482422, 138.6999969482422, 748.5999755859375, 2958.64990234375, 917.6500244140625]

In [ ]:
final_copm = []
date_of_occ = []
for i in range(len(s_level)) :
  if s_level[i] >= s_ltp[i]:
    final_copm.append(s_comp[i])
    date_of_occ.append(s_date[i])

In [ ]:
comp_df = pd.DataFrame({'company': final_copm, 'date': date_of_occ})

In [ ]:
comp_df

         company       date
0  ABBOTINDIA.NS 2021-09-30
1        NMDC.NS 2021-05-06
2         IEX.NS 2021-12-08

In [ ]:
sma_comp

['ACC.NS',
 'NMDC.NS',
 'CONCOR.NS',
 'OFSS.NS',
 'MRF.NS',
 'GICRE.NS',
 'EMAMILTD.NS',
 'WHIRLPOOL.NS',
 'NIACL.NS',
 'GILLETTE.NS']

In [ ]:
bb_comp

[]